# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data and models
/data/
/data/**
models/
models/**

# Test, coverage, and cache
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

# Environments
.venv/
.env/
venv/

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
